body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-image: url('https://images.alphacoders.com/533/thumb-1920-533936.jpg');
}

.topbar {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.searchcontainer {
    opacity: 0.5;
    width: 500px;
    height: 50px;
    display: flex;
    padding: 5px;
    border-radius: 999px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px wheat;
}

.searchcontainer input {
    border: none;
    outline: none;
    padding: 10px 15px;
    flex: 1;
    font-size: 16px;
    border-radius: 999px;
}

.searchcontainer span {
    border: 1px solid #999;
    background-color: white;
    padding: 10px 15px;
    border-radius: 999px;
    cursor: pointer;
    font-weight: bold;
}

.dashboard {
    width: 100%;
    max-width: 800px;
    background: white;
    opacity: 0.9;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: auto;
    padding: 30px;
    justify-self: center;
}

.location {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.weather-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.weather-item {
    text-align: center;
    margin: 15px;
}

.weather-item img {
    width: 60px;
    height: 60px;
}

.weather-item h3 {
    margin: 10px 0 5px;
}
